@media (min-width: 756px) and (max-width: 1025px) {
  .hero-row-layout {
    flex-direction: row !important;
    align-items: flex-start;
  }

  .hero-row-layout > div {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
body {
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
*{
  scroll-behavior: smooth;
}